@import "base";

.overlay-container {
    position: absolute;
    background: transparentize(#000, 0.5);
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    right: 0;
    transition: 0.2s linear;
    opacity: 0;
    z-index: -1;
    .overlay-inner-container {
        background: $color-white;
        width: 45vw;
        height: 95vh;
        margin-top: 2.5vh;
        margin-left: auto;
        transform: translateX(20vw);
        transition: 0.3s ease-in;
        border-radius: 6px;
        padding: 0.5vw 0;
        > div {
            padding: 0 1vw;
        }
        .overlay-header {
            @include card;
            padding-bottom: 10px;
        }
        h2 {
            text-transform: uppercase;
            font-weight: 500;
            font-size: 26px;
        }
        h3 {
            font-weight: 700;
        }

        .btn-upload {
            cursor: pointer;
            width: 100%;
            text-align: center;
            border: 1px dashed var(--color-main);
            border-radius: 6px;
            font-size: 18px;
            margin-bottom: 10px;
            padding: 10px 0;
            &:active {
                transform: scale(0.95);
            }
        }

        .pallate-row {
            margin-bottom: 10px;
            border-radius: 6px;
            border: 1px solid gray;
            border-radius: 6px;
            > div {
                flex: 1;
                height: 25px;
                &:first-child {
                    border-radius: 6px 0 0 6px;
                }
                &:last-child {
                    border-radius: 0 6px 6px 0;
                }
                &:not(:last-child) {
                    border-right: 1px solid gray;
                }
            }
        }

        .code {
            background-color: lightgrey;
            border-radius: 6px;
            padding: 10px;
        }
        .icon-arrow-down {
            margin-top: 25px;
            margin-left: auto;
            height: 20px;
            width: 20px;
            transition: 0.4s;
            &.rotate {
                transform: rotate(180deg);
            }
        }
        .row-collapse {
            overflow: hidden;
            transition: all 0.4s ease-in;
            height: 0;
            &.active {
                height: auto;
            }
        }
    }
    &.open {
        opacity: 1;
        z-index: 3;
        .overlay-inner-container {
            transform: translateX(-5vw);
        }
    }
}
