@import "base";

.graph-visualiser-container {
    position: relative;
    @include card;
    height: 100%;
    width: 100%;
    .graph-visualiser-inner-container {
        flex: 1;
        width: 100%;
        .graph-visualiser-header {
            padding: 0 1vw;
            justify-content: space-between;
            h2 {
                font-weight: 100;
            }
            .icon {
                background-color: $color-blue-light;
                border-radius: 6px;
                height: 35px;
                width: 35px;
                background-size: 70%;
            }
        }
        .graph-visualiser-content {
            // border: 1px solid $color-blue-light;
            // height: 500px;
            // width: 1000px;
            position: relative;
            .node {
                width: 60px;
                height: 60px;
                position: absolute;
                background-color: var(--color-main);
                border-radius: 50%;
                z-index: 2;
                transform: translate(-50%, -50%);
                color: $color-white;
                justify-content: center;
                cursor: pointer;
                user-select: none;
                font-size: 20px;
            }
            .line {
                position: absolute;
                height: 2px;
                background-color: var(--color-invalid);
                transform-origin: top left;
            }
        }
    }
    .player-container {
        align-self: center;
        width: 60%;
        max-width: 500px;
        margin: 3vh 0;
    }
}

.graphs-visualiser-split-options-container {
    @include card;
    p {
        margin: 0;
        padding: 10px 15px;
        cursor: pointer;
        &:active {
            transform: scale(0.98);
        }
    }
}
