@import "base";
.queue-container {
    height: 100%;
    justify-content: flex-end;
    padding: 0.5vw 1vw;
    .queue-content {
        min-height: calc(100% - 106px);
        border: 1px solid black;
        width: 300px;
        margin: 0 auto 50px;
        border-radius: 6px;
        // flex-direction: column-reverse;

        div {
            text-align: center;
            color: $color-white;
            background-color: $color-blue;
            font-weight: 700;
            padding: 10px 0;
            &:first-child {
                border-radius: 5px 5px 0 0 ;
            }
            &:not(:last-child) {
                border-bottom: 1px solid black;
            }
        }
    }
    .queue-controls {
        justify-content: center;
        .button {
            display: flex;
            align-items: center;
            justify-content: center;

            height: 36px;
            padding: 0px 25px;
            margin: 10px;

            background-color: $color-blue;
            box-shadow: 0px 1px 4px rgba(0, 52, 112, 0.15);
            border-radius: 5px;

            font-family: "CorsaGrotesk", sans-serif;
            color: $color-white;
            font-weight: 500;
            font-size: 14px;

            cursor: pointer;
            box-shadow: 0px 5px 15px 0px #00347026;
        }
    }
}
